/**/


body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #2f3e2a;
  margin: 0;
  padding: 6%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3 {
  margin-top: 10px;
  text-shadow: black
}

input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: solid 1px;
}

.form-container{
  text-align: center;
  padding: 20px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 60vh;
  height: auto;
  box-shadow: 0 0 2% 5% rgba(90, 44, 44, 0.1);
  background-color: #d0d0cf;
  border-radius: 20px;
}

.form-title h2{
  display: grid;
  grid-template-rows: 1fr;
  font-family: "Alfa Slab One";
  font-size: 26px;
  font-weight: bolder;
  background-color: #3d4a38;
  color: white;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 60px;
}

.LOGO{
    margin: 0.5% 0 -2% 0;
}

.login-text {
  color: black;
  text-shadow: black;
  font-size: 20px;
  font-family: "Alfa Slab One";
  font-weight: bold;
  margin-bottom: 0px;
}

.sign-ups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.sign-ups input{
  width: 100%;
  box-sizing:  border-box;
}

u {
  font-size: 110%;
}

span {
  font-family: "Alfa Slab One";
  margin-top: 3%;
  font-size: 100%;
  font-weight: bold;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 130%;
}

span:active {
    color: rgb(105, 129, 102);
    cursor: pointer;
}

a {
  font-family: "Alfa Slab One";
  margin-top: 3%;
  font-size: 100%;
  font-weight: bold;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-size: 130%;
}

a:active {
    color: rgb(105, 129, 102);
    cursor: pointer;
}

.login-button{ 
  width: 90%;
  border-radius: 20px;
  color: white;
  background-color: #3d4a38;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  box-shadow: none;
}

.login-button:hover {
    background-color: #7a896e;
    cursor: pointer;
}

.btn-signup:active {
    transform: scale(0.98);
    background-color: rgb(0, 0, 0);
}

.login-attempt {
  font-size: 10px;
}

.form-footer {
  font-size: 8px;
}

.login-button {
  color: white;
  font-weight: bolder;
  font-size: 20px;
}



/*show password*/
.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 35px;
}

.password-wrapper i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: gray;
}


.fa-eye{
    position: absolute;
    top: 8%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}


input::-ms-reveal,
input::-ms-clear {
    display: none;
}


input[type="password"]::-webkit-textfield-decoration-container {
    display: none;
}

input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-reveal-button {
    display: none;
}
