
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #819983;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}


section {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background-color: #a8b8ae;
}

section h2 {
  margin-bottom: 12px;
  font-size: 20px;
  color: white;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 6px 0 12px 0;
  border-radius: 4px;
  border: solid 1px;
  font-size: 14px;
}

input[type="submit"]{ 
  display: flex;
  padding: 10px;
  width: 50%;
  justify-content: center;
  cursor: pointer;
  background-color: #4f9956;
  border: solid 1px;
  color: white  ;
}

input[type="submit"]:hover{
  background-color: #3f7f45;
}

section:nth-child(2) input[type="submit"] {
  background: #cc0000;
  color: white;
  border: solid 1px;
}

section:nth-child(2) input[type="submit"]:hover {
  background: #990000;
}