body {
  margin: 0;
  padding: 0;
  background-color: beige;
}
.side-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-evenly;
  left: 0;
  top: 40px;
  bottom: 0;
  width: 40px;
  height: 100vh;
  background-color: rgb(11, 27, 11);
  z-index: 2;
}
.sidenav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


.sidenav-link a:hover {
    background: rgba(255,255,255,.15);
}

/* change when the link is clicked / tapped */
.sidenav-link a:active {
    background: rgba(255,255,255,.25);
}

.main-container {
  width: auto;
  height: 300px;
  position: relative;
  z-index: 1;
  padding: 10px 10px 10px 10px;
}


.information-cards-grid{
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  margin-left: 40px;
  height: 60px;
  width: auto;
}

.information-card{
  color: white;
  background-color:#2f3e2a;
  display: grid;
  grid-template-rows: 1fr;
  border-radius: 15px;
}

.card-title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card-count {
  display: flex;
  justify-content: center;
  align-items: center;
}