body {
  margin: 0;
  padding: 0;
}
.side-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-evenly;
  left: 0;
  top: 40px;
  bottom: 0;
  width: 40px;
  height: 100vh;
  background-color: rgb(11, 27, 11);
  z-index: 2;
}
.sidenav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


.sidenav-link a:hover {
    background: rgba(255,255,255,.15);
}

/* change when the link is clicked / tapped */
.sidenav-link a:active {
    background: rgba(255,255,255,.25);
}

.main-container {
  background-color: cyan;
  width: 100%;
  height: 300px;
  position: relative;
  z-index: 1;
  padding-left: 40px;
}


.information-cards-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.information-card{
  display: flex;
  flex-direction: row;
}