body {
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    margin: 0;
}

main {
    flex-grow: 1;
}

footer {    
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: auto;
    width: 100%;
    background: #f1f1f1;
    text-align: center;
    padding: 10px 0;
}