body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.upper-header {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: rgb(11, 27, 11);
  object-fit: contain;
  padding-left: 40px;
  box-sizing: border-box;
}

.bookIcon {
  height: 100%;
  width: auto;
  object-fit: contain;  
  z-index: 100;
}

.lower-header { 
  color: white;
  display: flex;
  height: auto;
  background-color: #3d4a38;
  align-items: center;
  padding-left: 40px;
  box-sizing: border-box;
}

.blank-green-bg {
  display: flex;
  width: 40px;
  height: 100%;
  background-color: rgb(11, 27, 11);
  align-self: stretch;
}

.lower-header-content {
  padding: 10px; 
}

