body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.upper-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color: rgb(11, 27, 11);
  object-fit: contain;
  padding-left: 40px;
  box-sizing: border-box;
  justify-content: start;
  align-items: center;
}

.signout-btn {
  color: white;
  background-color: #3d4a38;
  border: none;
  padding: 10px;
  cursor: pointer;
}



.lower-header { 
  color: white;
  display: flex;
  height: auto;
  background-color: #3d4a38;
  align-items: center;
  padding-left: 40px;
  box-sizing: border-box;
  margin: 0;
}

.blank-green-bg {
  display: flex;
  width: 40px;
  height: 100%;
  background-color: rgb(11, 27, 11);
  align-self: stretch;
}


.lower-header-content {
  padding: 10px; 
}

