/* Background */
body {
    background-color: black;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* MAIN CONTAINER */
.main-container {
    padding: 40px 20px;
    margin-left: 80px; 
}

/* ABOUT SECTION */
.about {
    max-width: 900px;
    margin: 0 auto;
    background-color: #d0d0cf;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
    color: white;
}

.about h1 {
    margin-top: 0;
    text-align: center;
    letter-spacing: 2px;
}

.about p {
    margin-top: 15px;
    background: #e8e8e8;
    padding: 18px;
    border-radius: 10px;
    color: #333;
    line-height: 1.6;
    border: none;
    box-shadow: inset 0px 0px 6px rgba(0,0,0,0.2);
}

/* CONTACT SECTION */
.contact {
    max-width: 900px;
    margin: 50px auto;
    background: #d0d0cf;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px black;
    text-align: center;
}

.contact h3 {
    margin-top: 0;
    font-size: 24px;
    color: red;
    letter-spacing: 1px;
}

/* Contact info items */
.info-item {
    margin: 12px 0;
    font-size: 18px;
    color: grey;
}

.info-item a {
    color: #000000;
    text-decoration: none;
}

.info-item a:hover {
    text-decoration: underline;
}
