body{
   background-color: #ececec;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1{
    color: white;
    background-color: #3d4a38;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    text-align: center;
    margin: 0 auto;
    border-style: outset;
    border-width: 5px;
    border-color: #3d4a38;
    border-radius: 10px;
    padding:10px;
    background-color: #d0d0cf;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.about{
    border-style: outset;
    border-width: 5px;
    border-color: #3d4a38;
    border-radius: 10px;
    padding:10px;
    background-color: #3d4a38;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact{
    text-align: center;
    margin: 0 auto;
     border-style: outset;
     border-width: 5px;
    border-color: rgb(133, 155, 100);
    border-radius: 10px;
    padding:10px;
    background-color: rgb(127, 179, 139);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
button:hover{
    background-color: lightgrey;
}
button:active{
    background-color: burlywood;
}

