body {
    font-family: Arial, sans-serif;
    background: #3d4a38;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.profile-container {
    background: rgb(207, 219, 207);
    width: 350px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(193, 228, 123, 0.1);
}

.profile-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.profile-container h2 {
    margin: 10px 0;
    color: #b8bab6;
}

.profile-container p {
    margin: 5px 0;
    color: #1f2a15;
}

.profile-info {
    text-align: left;
    margin-top: 20px;
}

.profile-info p {
    margin: 8px 0;
    font-size: 14px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #3498db;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}
