.public-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: space-evenly;
  left: 0;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 100vh;
  background-color: rgb(11, 27, 11);
  z-index: 2;
}

.publicnav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.publicnav-link a:hover {
  background: rgba(255,255,255,.15);
}

.publicnav-link a:active {
  background: rgba(255,255,255,.25);
}

.publicnav-link img {
  width: 40px;
  height: 40px;
  filter: brightness(100%);
  transition: 0.2s ease;
}