body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif; 
}

h1 {
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.upper-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color:#20231e;
  object-fit: contain;
  padding-left: 40px;
  box-sizing: border-box;
  justify-content: start;
  align-items: center;
  gap: 10px;
}



.signin-container{ 
  margin-right: 10px;
}

.signin-btn {
  color: rgb(0, 0, 0);
  background-color: #778f5e;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.signin-btn:hover {
  background-color: white;
}

.lower-header { 
  color: white;
  display: flex;
  height: auto;
  background-color: #3d4a38;
  align-items: center;
  padding-left: 40px;
  box-sizing: border-box;
  margin: 0;
}
/*
.blank-green-bg {
  display: flex;
  width: 40px;
  height: 100%;
  background-color: white;
  align-self: stretch;
} */


.lower-header-content {
  padding: 10px; 
}

