* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Georgia', serif;
}


.main-container {
     background-color: #d0d0cf;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: #2f3e2a;
    color: #2f3e2a;
    width: 100%;
    max-width: 500px;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.container h2 {
    text-align: center;
    font-size: 26px;
    margin-bottom: 18px;
    color: #F8F8F8;
}

.container p {
    font-size: 16px;
    margin-bottom: 15px;
}

.option {
    background-color: white;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #50644E;
}

.option label {
    font-size: 15px;
    color: #F1F1F1;
}

.textbox-area {
    margin-top: 15px;
}

.textbox-area textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #ffffff;
    color: #333;
    font-size: 14px;
    resize: none;
}

.submit-btn{
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #50644E;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: bold;
}

.submit-btn:hover {
    background-color: #3D4E39;
}
.back-btn{
    color: #ffffff;
    text-align: center;
    align-items: center;
    padding: 1%;
    
}

.back-btn:hover {
    text-decoration: underline;
}

.back-btn:active {
    text-decoration: underline;
    color: black;
}

.footer-inc {
    position: relative;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 25px;
    }

    .container h2 {
        font-size: 22px;
    }

    .option {
        flex-direction: row;
        align-items: flex-start;
        padding: 10px;
    }

    .option label {
        font-size: 14px;
    }

    .textbox-area textarea {
        height: 90px;
    }

    .submit-btn {
        font-size: 15px;
        padding: 10px;
    }
}

@media screen and (max-width: 480px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 20px;
    }

    .container h2 {
        font-size: 20px;
    }

    .option {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    .textbox-area textarea {
        height: 80px;
    }

    .submit-btn {
        font-size: 14px;
        padding: 10px;
    }
}


