/* login container */
{
    
}
/* Email */

/* password */

/* login button */

/* forgot password link */

/* Create account */

/* Text details for the page*/

/* Dark mode */

/* Responsive design for mobile */

