body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.upper-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  background-color: rgb(11, 27, 11);
  object-fit: contain;
  padding-left: 40px;
  box-sizing: border-box;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.signout-btn {
  color: rgb(0, 0, 0);
  background-color: #778f5e;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.signout-btn:hover {
  background-color: #8fa376;
}

.signout-btn:active {
  background-color: #5d7248;
}

.signout-container{ 
  margin-right: 10px;
}

.lower-header { 
  color: white;
  display: flex;
  height: auto;
  background-color: #3d4a38;
  align-items: center;
  padding-left: 40px;
  box-sizing: border-box;
  margin: 0;
}

.lower-header-content {
  padding: 10px; 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-date {
  color: white;
  font-size: 14px;
  margin-right: 20px;
}

#liveClock {
  font-weight: bold;
}