* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: #ececec;
}

form    {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #3d4a38;
    width: 500px;
    height: 500px;  
    padding: 10px;
}

input {
    width: 100%;
}

input[type="password"] {
    padding: 5px;
}

input[type="text"] {
    padding: 5px;
}



.submit-btn {
    width: 100%;
    padding: 5px;
}

.form-title {
    display: flex;
    align-items: center;
    justify-content: center;
}




