body{
    margin: 0;
    text-align: center; 
    background-color: #3d4a38;
}

.maincontainer {
    display: inline;
}

.about-page {
    box-shadow: 0 0 100% 5px rgba(0,0,0,100%);
    font-family: "Alfa Slab One";
    font-size: 120%;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 5%;
    padding-bottom: 5%;
    max-width: 100%;
    background-color: #bababa;
}





.login-container{
    background-color: #d0d0cf;
    display: grid;
    border-radius: 20px;
    max-width: 35%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 8%;
    box-shadow: 0 0 2% 5% rgba(90, 44, 44, 0.1);
    padding: 2%;
    background-attachment: rgb(249, 249, 249);
    
}





img{
    margin: 0.5% 0 -2% 0;
}





.title {
    display: block;
    font-size: 150%;
    font-family: "Alfa Slab One";
    font-weight: bold;
    margin-bottom: 5%;
}




form{
    display: block;
    width: 95%;
    padding: 2%;
    font-size: 100%;
    border: 0.5% solid rgb(0, 0, 0, 0.1);
    border-radius: 90px;
    margin-top: -2%;
    margin-bottom: 0%;
}





.attempts {
    font-size: 100%;
    color: rgb(0, 0, 0);
    margin: 0 3%;
    margin-top: 2%;
    margin-bottom: 0%;
    text-decoration: underline;
    text-align: left;
}

.btn-submit {
    font-family: "Alfa Slab One";
    font-size: 120%;
    font-weight: bold;
    
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    padding: 3% 7%;
    background-color:#3d4a38;
    min-width: 3%;
    max-width: 28%;
    color: white;
    display: inline-block;
    border-radius: 10px;   
}
.btn-submit:hover {
    background-color: #7a896e;
    cursor: pointer;
}
.btn-submit:active {
    color: #7a896e;
}

.forgot {
    font-family: "Alfa Slab One";
    margin-top: 3%;
    font-size: 100%;
    font-weight: bold;
    color: rgb(169, 121, 121);
    display: inline-block;
    margin-bottom: 3%;
    display: block;
}
.forgot:hover {
    text-decoration: underline;
    cursor: pointer;
}
.forgot:active {
    color: #7a896e;
}


.btn-signup {
    font-family: "Alfa Slab One";
    margin-top: 0%;
    font-size: 100%;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: inline-block;
    margin-bottom: 2%;
    display: inline;
}   
.btn-signup:hover {
    text-decoration: underline;
    cursor: pointer;
}
.btn-signup:active {
    transform: scale(0.98);
}



footer {
    display: block;
    margin-top: 20px;
    bottom: 0;
    padding: 1%;
    position: fixed;
    width: 100%;
    margin: 0;
    background-color: #d0d0cf;
}




.Ad-login {
    box-shadow: 0 0 100% 5px rgba(0,0,0,100%);
    border-radius: 10px;
    display: block;
    font-family: "Alfa Slab One";
    font-size: 120%;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: -5%;
    margin-bottom: -1%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0%;
    max-width: 100%;
    background-color: #bababa;
}
.Ad-login:hover {
    background-color: #b2d2a5;
    cursor: pointer;
}
.Ad-login:active {
    transform: scale(0.98);
}   



.reportbtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    z-index: 1000;
}